@import 'tufte.less';

@import 'colors.less';
@import 'fonts.less';
@import 'variables.less';

@import 'ipa.less';

h1,
p.subtitle {
    font-family: @title-family;
}

h2,
h3 {
    font-family: @heading-family;
}

body,
.numeral,
.sidenote-number:after,
.sidenote:before {
    .default-font-family();
}


body {
    margin: 0;

    font-feature-settings: 'onum';
    font-variant-numeric: oldstyle-nums;
    hyphens: auto;
    hanging-punctuation: first force-end last;

    main {
        min-height: 100vh;
    }

    .colors();
}

@para-indent: @text-size * 1.5;

p {
    text-indent: 0;
    margin-top: 0; // tufte: 1.4rem
    margin-bottom: 0; // tufte: 1.4rem
    text-align: justify;

    // First-line indents for all paragraphs except the first.
    &+& {
        text-indent: @para-indent;
    }
}

.sidenote,
label {
    text-indent: 0;
}

hr {
    border-top: @rule;
}

dd,
li {
    text-align: justify;
}

// Equal spacing above and below figures.
figure {
    margin: 3em 0 3em 0;
}

// Align figure captions in the margin.
figcaption.marginnote {
    margin-top: 0; // tufte: 0.3rem
    max-width: 100%;
}

// Do not indent images in the margins.
span.marginnote>img {
    display: block;
}

// Left-align fullwidth figure captions.
figure figcaption {
    display: inline;
    float: none;
    margin-left: 0;
}

// Links in small caps.
a {
    .small-caps;

    @media (prefers-color-scheme: light) {
        // Highlight in red on hover.
        transition-property: color;
        transition-duration: @link-transition-time;

        &:hover {
            color: @link-highlight-color;
        }
    }


    &:link {
        // Remove tufte dark mode shadow effect.
        text-shadow: none;

        // Remove tufte underlining for internal links.
        &:not([href*='//']) {
            .no-tufte-underline();
        }
    }
}

// Description lists.
dt {
    // Term and definition on same line.
    float: left;
    clear: left;
    width: @para-indent * 4;
    font-weight: 600;
}

dd {
    margin-left: @para-indent * 4;
    padding-left: @para-indent;

    &:not(:first-child) {
        margin-top: 0.25rem;
    }
}

// Tables
table {
    display: table;
    text-align: left;
    border-spacing: 0 2.16pt;

    thead tr:first-child>* {
        border-top: @toprule;
    }

    border-bottom: @bottomrule;

    th,
    td {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    th[scope='col'] {
        border-collapse: collapse;
        border-bottom: @midrule;
    }

    th[scope='row'] {
        font-weight: normal;
    }
}

// Box-shaped links.
.boxlink() {
    display: block;
    height: 100%;

    transition-property: background-color;
    transition-duration: @link-transition-time;

    &:hover {
        background-color: @boxlink-highlight-color;

        @media (prefers-color-scheme: dark) {
            background-color: @dark-boxlink-highlight-color;
        }
    }
}

// Directory.
nav.directory {
    .tufte-width();
    border-top: @rule;

    ul {
        padding-left: 0;
        padding-right: 0;
        list-style-type: none;

        li {
            width: 100%;

            a {
                .boxlink();
                text-align: center;
            }
        }
    }
}

// Navigation box.
nav.navbox {
    .colors();
    .tufte-width();

    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    bottom: 0;
    min-height: 3.5rem;
    height: max-content;

    font-size: 1.2rem;

    border-top: @rule;
    overflow: hidden;

    &>div {
        min-height: 100%;
        max-height: max-content;
        margin-bottom: 0;
        padding-bottom: 0;

        &:last-child {
            text-align: right;
        }

        &:first-child,
        &:last-child {
            width: 50%;
            flex-grow: 4;
        }

        &:nth-child(n + 2):nth-last-child(n + 2) {
            flex-grow: 1;
            border-left: @lightrule;
            border-right: @lightrule;

            & a {
                padding-left: @navbox-padding;
                padding-right: @navbox-padding;
            }
        }

        & a {
            .boxlink();
            padding: 0.5em @navbox-padding 1em @navbox-padding;

            &.prev-page::before {
                content: '↢';
            }

            &.next-page::after {
                content: '↣';
            }
        }
    }
}